@import "tailwindcss";

@theme {
	--color-primary: #153147;
	--color-secondary: #adb8ba;
	--color-accent: #edeae3;
	--color-bg-primary: #f9f8f6;
	--color-bg-secondary: #e5e7eb;
	--color-bg-dark: #141516;
}

@layer base {
	body {
		@apply bg-bg-primary;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Orbitron", sans-serif;
	}

	p,
	span,
	a,
	li,
	button {
		font-family: "GeneralSans", sans-serif;
	}
}

@font-face {
	font-family: "GeneralSans-Bold";
	src: url("assets/fonts/GeneralSans-Bold.woff") format("woff");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans-Medium";
	src: url("assets/fonts/GeneralSans-Medium.woff") format("woff");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "GeneralSans-Semibold";
	src: url("assets/fonts/GeneralSans-Semibold.woff") format("woff");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}
